<p id="notice"><%= notice %></p>

<p>
  <strong>Download date:</strong>
  <%= @clinical_study.download_date %>
</p>

<p>
  <strong>Link text:</strong>
  <%= @clinical_study.link_text %>
</p>

<p>
  <strong>Url:</strong>
  <%= @clinical_study.url %>
</p>

<p>
  <strong>Brief title:</strong>
  <%= @clinical_study.brief_title %>
</p>

<p>
  <strong>Official title:</strong>
  <%= @clinical_study.official_title %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @clinical_study.agency %>
</p>

<p>
  <strong>Agency class:</strong>
  <%= @clinical_study.agency_class %>
</p>

<p>
  <strong>Source:</strong>
  <%= @clinical_study.source %>
</p>

<p>
  <strong>Authority:</strong>
  <%= @clinical_study.authority %>
</p>

<p>
  <strong>Brief summary:</strong>
  <%= @clinical_study.brief_summary %>
</p>

<p>
  <strong>Detailed description:</strong>
  <%= @clinical_study.detailed_description %>
</p>

<p>
  <strong>Overall status:</strong>
  <%= @clinical_study.overall_status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @clinical_study.start_date %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @clinical_study.phase %>
</p>

<p>
  <strong>Study type:</strong>
  <%= @clinical_study.study_type %>
</p>

<p>
  <strong>Study design:</strong>
  <%= @clinical_study.study_design %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @clinical_study.condition %>
</p>

<p>
  <strong>Intervention type:</strong>
  <%= @clinical_study.intervention_type %>
</p>

<p>
  <strong>Intervention name:</strong>
  <%= @clinical_study.intervention_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @clinical_study.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @clinical_study.role %>
</p>

<p>
  <strong>Affiliation:</strong>
  <%= @clinical_study.affiliation %>
</p>

<%= link_to 'Edit', edit_clinical_study_path(@clinical_study) %> |
<%= link_to 'Back', clinical_studies_path %>
